*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(3, 3, 75);
    padding: 10px;

}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 20px;
    border-radius: 5px;
    
}

.todo-app h2{
    color:black ;
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
}
.todo-app img{
    width: 60px;
    margin-left: 10px;

}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: whitesmoke;
    border-radius: 5px;
    padding-left: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: none;
    padding: 10px;
    margin-left: 20px; 
}
button{
    border: none;
    outline: none;
    background-color: rgb(232, 136, 67);
    color: aliceblue;
    padding: 16px 40px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 8px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('https://i.postimg.cc/VLcy022B/icons8-circle-50-1.png');
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 12px;
}

ul li.checked{
    color: gray;
    text-decoration: line-through;

}
ul li.checked::before{
    background-image: url('https://i.postimg.cc/kGtQv6SD/icons8-checkmark-16.png');
}

/* for cross icon */
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size:22px ;
    color:gray;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
/* to change bg when click on cross */
ul li span:hover{
    background: rgb(218, 213, 213);
  
}

